.reviews{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: black;
    margin-top: 5rem;
    padding-bottom: 6rem;
}

.reviews .header{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
}
.reviews .header .heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 1rem;
}
.reviews .header .heading h2{
    font-size: 2rem;
    font-family: 'Libre Baskerville', 'sans-serif';
}
.reviews .header .heading .underline{
    background-color: #0259EB;
    padding:2px 1px;
    width:25%;
    margin-top: 0.75rem;
}
.reviews .header .pagination .page-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reviews .header .pagination .page-group .page{
    font-size: 1rem;
}
.reviews .header .pagination .page-group .page .current-page{
    color:gray;
}
.reviews .header .pagination .page-group .arrows{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10px;
}
.reviews .header .pagination .page-group .arrows .arrow-icon{
    font-size: 1.15rem;
    margin-left: 10px;
    color:gray;
}
.reviews .review-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    width: 100%;
    padding: 1rem 1rem;
}