
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out all;
  font-family: "Open Sans", 'sans-serif';
}
.hero-banner{
  background-image: url("./images/hero-image.png");
  background-repeat: repeat;
}